@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*{
  padding: 0;
  margin: 0;
}

body{
  background-color: #0D1117;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #A4D1D9;
  font-family: 'Source Sans Pro', sans-serif;;
}

#root{
  height: 60vh;
  display: flex;
  justify-content: center;
  border: 1px dotted white;
  border-radius: 15px;
  width: 60vw;
}

.select-Currency{
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
}

.CurrencyConverter h1{
  text-align: center;
  color: #58A6FF;
  font-size: 35px;
  padding: 7px;
  margin-bottom: 30px;
}

.select-Currency label{
  flex: 30%;
  font-size: 22px;
}

input{
  outline: none;
}

.select-Currency select, .select-Currency input{
  flex: 70%;
  margin-left: 20px;
}

.btn-convert{
  display: flex;
  justify-content: center;
}

button{
  background-color: rgb(35,134,54);
  border: none;
  padding: 13px;
  border-radius: 7px;
  color: #F1FBFF;
  font-size: 15px;
}

button:hover{
  cursor: pointer;
}

h2{
  text-align: center;
  padding: 20px;
}